<launch>
  <arg name="odometry_topic"/>
  <arg name="camera_pose_topic"/>
  <arg name="depth_topic"/>
  <arg name="cloud_topic"/>

  <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>
  <param name="/hybrid_astar/turn_radius" value="0.01" />
 <!-- Turn on hybrid_astar node -->  
 <node name="hybrid_astar" pkg="hybrid_astar" type="hybrid_astar"  output="screen"> 
  <remap from="odom" to="/state_ukd/odom"/>
  <remap from="posCmd" to="/planning/pos_cmd" />  
 </node>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hybrid_astar)/launch/config.rviz" />
</launch>
